.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 97px;
}

.d-inline-block {
    display: inline-block !important;
}

.table th, .table td {
    padding: 0.5rem;
}

ol, ul, dl {
    margin-bottom: 5px;
}