<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Create Task</strong>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Vehicle</label>
                                <select id="level" name="level" class="form-control" [(ngModel)]="vehicle" (ngModelChange)="getSavedTaskList($event)">
                                    <option *ngFor="let v of vehicleList" [ngValue]="v">{{v.vehicleNo}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="name">Insurance Date</label>
                                <input placeholder="Time:" class="form-control" [(ngModel)]="insuranceDate"
                                    [owlDateTimeTrigger]="st1" [owlDateTime]="st1">
                                <owl-date-time [pickerType]="'calendar'" #st1></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-2" style="top: 30px;" *ngIf="insuranceImageName">
                            <button type="button" class="btn btn-sm btn-danger"   (click)="showImage('insuranceImage', vehicle)">
                                <i class="fa fa-eye" aria-hidden="true" ></i>
                                 Image</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Service Date</label>
                                <input placeholder="Time:" class="form-control" [(ngModel)]="serviceDate"
                                    [owlDateTimeTrigger]="st2" [owlDateTime]="st2">
                                <owl-date-time [pickerType]="'calendar'" #st2></owl-date-time>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Oil Change Date</label>
                                <input placeholder="Time:" class="form-control" [(ngModel)]="oilChangeDate"
                                    [owlDateTimeTrigger]="st3" [owlDateTime]="st3">
                                <owl-date-time [pickerType]="'calendar'" #st3></owl-date-time>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="gender">Passing Date</label>
                                <input placeholder="Time:" class="form-control" [(ngModel)]="passingDate"
                                    [owlDateTimeTrigger]="st4" [owlDateTime]="st4">
                                <owl-date-time [pickerType]="'calendar'" #st4></owl-date-time>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="textarea-input">Puc Date</label>
                                <input placeholder="Time:" class="form-control" [(ngModel)]="pucDate"
                                    [owlDateTimeTrigger]="st5" [owlDateTime]="st5">
                                <owl-date-time [pickerType]="'calendar'" #st5></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-2" style="top: 30px;" *ngIf="pucImageName">
                            <button type="button" class="btn btn-sm btn-danger" (click)="showImage('pucImage', vehicle)">
                                <i class="fa fa-eye" aria-hidden="true" ></i>
                                 Image</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="gender">Oil Change Distance</label>
                                <input type="number" class="form-control" id="last-name" [(ngModel)]="oilChangeDistnce"
                                    placeholder="Enter your Last Name">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="project">Service Distance</label>
                                <input type="number" class="form-control" id="last-name"
                                    [(ngModel)]="serviceChangeDistance" placeholder="Enter your Last Name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-primary" (click)="submit()"><i
                            class="fa fa-dot-circle-o"></i> Save </button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="onReset()"><i class="fa fa-ban"></i>
                        Reset</button>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> <strong>Saved Task</strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Task Name</th>
                                        <th>Time/ Distance</th>
                                        <th>Edit</th>
                                        <!-- <th>Status</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let t of taskList">
                                        <td>{{taskModefObj[t.taskType].name}}</td>
                                        <td>{{taskModefObj[t.taskType].isTime ? 
                                            (t.activityDuration | date : 'dd/MM/yy h:mm a') : t.activityDuration}}</td>
                                        <td><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editTask(t)"></i></td>
                                        <!-- <td>
                                            <span class="badge badge-success">Active</span>
                                        </td> -->
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Image</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span *ngIf="commonImageName">
                        <img  src="{{commonImageName}}" class="img-responsive" alt="" style="width: 100%;">
                </span>
                <span *ngIf="!commonImageName">
                    <h3>No Image Found</h3>
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>