<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div *ngFor="let alert of alertsDismiss">
                        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>Create Customer</strong>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="hf-customerName">Customer Name</label>
                                <div class="col-md-9">
                                    <input type="text" id="hf-customerName" name="hf-customerName" class="form-control"
                                        [(ngModel)]="customerName" placeholder="Enter Customer Name..">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-sm btn-primary" (click)="save()"><i
                                    class="fa fa-dot-circle-o"></i> {{makeModelEditId ? 'Edit' : 'Save'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Search Customer</strong>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="hf-customerName">Customer Name</label>
                                <div class="col-md-9">
                                    <input type="text" id="hf-customerSearch" name="hf-customerName"
                                        class="form-control" [(ngModel)]="customerSearch"
                                        placeholder="Search by Customer Name..">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-sm btn-primary" (click)="search()"><i
                                    class="fa fa-dot-circle-o"></i> Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Customer List
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of customerList">
                                <td>{{c.name}}</td>
                                <td class="text-center"><i class="fa fa-pencil fa-lg pointer" aria-hidden="true"
                                        (click)="edit(c)"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <ul class="pagination">
                        <!-- <li class="page-item"><a class="page-link" href="#">Prev</a></li> -->
                        <li class="page-item active" *ngFor="let p of sortedVehicleList; let idx = index;"
                            [ngClass]="{'active': idx == paginationIndex }">
                            <a class="page-link" (click)="setSelectedPageList(p, idx)">{{idx + 1}}</a>
                        </li>
                        <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>