<div class="row">
  <div class="col-md-12 padding0">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- <div class="col-md-1 text-right" style="margin-top: 5px;">
              <label><strong>Vehicle : </strong></label>
            </div>
          <div class="col-md-3">
            <select id="level" name="level" class="form-control" [(ngModel)]="vehicle">
              <option *ngFor="let v of vehicleList" [value]="v">{{v.vehicleNo}}</option>
            </select>
          </div>
          <div class="col-md-1 text-right" style="margin-top: 5px;">
              <label><strong>Start time : </strong></label>
            </div>
          <div class="col-md-3">
              <input placeholder="Time:" [(ngModel)]="startTime" [owlDateTimeTrigger]="st1" [owlDateTime]="st1">
              <owl-date-time [pickerType]="'timer'" #st1></owl-date-time>
          </div> -->

          <div class="form-group col-sm-3">
            <label for="ccmonth">Vehicle</label>
            <select id="level" name="level" class="form-control" [(ngModel)]="vehicle">
              <option *ngFor="let v of vehicleList" [value]="v">{{v.vehicleNo}}</option>
            </select>
          </div>
          <div class="form-group col-sm-3">
            <label for="ccmonth">Start Time</label>
            <input placeholder="Time:" class="form-control" [(ngModel)]="startTime" [owlDateTimeTrigger]="st1" [owlDateTime]="st1">
            <owl-date-time [pickerType]="'timer'" #st1></owl-date-time>
          </div>
          <div class="form-group col-sm-3">
            <label for="ccmonth">End Time</label>
            <input placeholder="Time:" class="form-control" [(ngModel)]="endTime" [owlDateTimeTrigger]="st2" [owlDateTime]="st2">
            <owl-date-time [pickerType]="'timer'" #st2></owl-date-time>
          </div>
          <div class="form-group col-sm-3">
              <button type="submit" class="btn btn-sm btn-primary buttonPosition" (click)="getHistory(vehicle, startTime, endTime)"><i class="fa fa-dot-circle-o"></i> Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-9 padding0">
    <div class="card">
      <div class="card-body padding0">
        <div id="map">
            <app-map [mapDataObj]="mapDataObj" #map></app-map>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 padding0">
    <div class="card trackingHistoryHt">
      <div class="card-body padding0">
        <table class="table table-responsive moving routeMappingTable" *ngIf="historyList.length > 0" scrollY="true">
          <tbody>
            <tr *ngFor="let details of historyList; let idx = index" (click)="map.mapPolyLine(details, idx)">
              <th scope="row" class="movingIndicator"
                [ngClass]="details?.type == 'STATIC' ? 'movingIndicatorStop' : 'movingIndicatorStart'">
                <div class="circle"></div>
                {{details?.type == 'STATIC' ? "Stop" : "Moving"}}
              </th>
              <td>
                <p>{{details?.startTime | date : 'shortTime'}} - {{details?.endTime | date : 'shortTime'}}</p>
                <p>{{details?.type != 'STATIC' ? (details?.distance+" Kms") : ""}}</p>
                <p>
                  {{details?.type != 'STATIC' ? "Max Speed : "+(details?.speed * 3.6 | number : '1.2-2') +" Kmph" : ""}}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>