<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div *ngFor="let alert of alertsDismiss">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>Create User</strong>
                </div>
                <div class="card-body">

                    <form [formGroup]="userForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">First Name</label>
                                    <input type="text" class="form-control" id="first-name" formControlName="firstName"
                                        placeholder="Enter your First Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Last Name</label>
                                    <input type="text" class="form-control" id="last-name" formControlName="lastName"
                                        placeholder="Enter your Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Eamail Id</label>
                                    <input type="email" id="email" name="email" class="form-control"
                                        formControlName="emailId" placeholder="Enter Email.." autocomplete="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Moblie No</label>
                                    <input type="number" id="mobile" name="mobile" class="form-control"
                                        formControlName="mobileNumber" placeholder="Enter Moblie No..">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select id="gender" name="gender" class="form-control" formControlName="gender">
                                        <option value="MALE">Male</option>
                                        <option value="FEMALE">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="textarea-input">Address</label>
                                    <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control"
                                        formControlName="address" placeholder="Address"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="gender">Designation</label>
                                    <select id="designation" name="designation" class="form-control"
                                        formControlName="designationId">
                                        <option *ngFor="let desig of designationList" [value]="desig.id">
                                            {{desig.designation}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="project">Project</label>
                                    <ng-multiselect-dropdown [placeholder]="'Project Name'" [data]="projectList" formControlName="project"
                                        (onSelect)="projectSelect($event)" [settings]="dropdownSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="site">Site</label>
                                    <!-- <select id="site" name="site" class="form-control"
                                        formControlName="site">
                                        <option *ngFor="let s of siteList" [value]="s.id">
                                            {{s.siteName}}</option>
                                    </select> -->

                                    <ng-multiselect-dropdown [placeholder]="'Site Name'" [data]="siteList" formControlName="siteIdList"
                                         [settings]="siteDropDownSetting">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                    
                    </form>
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-primary" (click)="submit()"><i
                            class="fa fa-dot-circle-o"></i> {{userEditId ? 'Edit' : 'Save'}}</button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="onReset()"><i class="fa fa-ban"></i>
                        Reset</button>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Find User</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="gender">Select Type</label>
                                        <select id="type" name="type" class="form-control" [(ngModel)]="userSelectType">
                                            <option selected value="emailId">Email Id</option>
                                            <option value="mobileNumber">Mobile Number</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="gender">{{userSelectType}}</label>
                                        <input type="text" id="hf-designation" name="hf-designation"
                                            class="form-control" [(ngModel)]="selectedValue"
                                            placeholder="Enter designation..">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-sm btn-primary" (click)="changeType(userSelectType)"><i
                                    class="fa fa-dot-circle-o"></i> Find
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>