<div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div *ngFor="let alert of alertsDismiss">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
                <div class="card">
                    <div class="card-header">
                        <strong>Create Vehicle Type</strong>
                    </div>
                    <div class="card-body">
    
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="hf-email">Vehicle Type</label>
                            <div class="col-md-9">
                                <input type="text" id="hf-vehicleType" name="hf-vehicleType" class="form-control" [(ngModel)]="vehicleType"
                                    placeholder="Enter Vehicle Type..">
                                <!-- <span class="help-block">Please enter Designation</span> -->
                            </div>
                        </div>
    
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-primary" (click)="save('Vehicle Type')"><i
                                class="fa fa-dot-circle-o"></i> {{vehicleTypeEditId ? 'Edit' : 'Save'}}
                            </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Vehicle Type List
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Created Date</th>
                                    <th class="text-center">Edit</th>
                                    <th class="text-center">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let v of vehicleTypeList">
                                    <td>{{v.vehicleType}}</td>
                                    <td>{{v.createdOn}}</td>
                                    <td class="text-center"><i class="fa fa-pencil fa-lg pointer" aria-hidden="true" (click)="edit(v)"></i></td>
                                    <td class="text-center">
                                        <!-- <span class="badge badge-success">Active</span> -->
                                        <i class="fa fa-trash fa-lg pointer" aria-hidden="true"
                                            (click)="delete(v)"></i>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <ul class="pagination">
                            <!-- <li class="page-item"><a class="page-link" href="#">Prev</a></li> -->
                            <li class="page-item active" *ngFor="let p of sortedVehicleList; let idx = index;"
                             [ngClass]="{'active': idx == paginationIndex }">
                                <a class="page-link" (click)="setSelectedPageList(p, idx)">{{idx + 1}}</a>
                            </li>
                            <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>