@import "~ng-pick-datetime/assets/style/picker.min.css";
// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.pointer {cursor: pointer;}

.cdk-overlay-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}