@import "~ng-pick-datetime/assets/style/picker.min.css";
// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.pointer {cursor: pointer;}

sup {
    top: -0.3em;
    font-size: 100%;
    color: darkred;
}

.fa-lg {
    font-size: 1.8em;
}

.cdk-overlay-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}

button {
    margin: 2px;
}

.sidebar .nav-link .nav-icon {
    margin: 0 .7rem 0 0;
}